bin/*
static/*
.vscode/
tmp/
.devcontainer/devcontainer-lock.json
.idea
.DS_Store
*.log
*.tmp
*.code-workspace

.cache
.vite
.pnpm-store

device-tests.tar.gz
node_modules

# generated during the build process
#internal/native/include
#internal/native/lib
internal/audio/bin/

# backup files
*.bak

# core dumps
core
core.*
